<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799045719295-d2laqcjvjhl13hu9kbf6pjtendh6dgfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799045719295-d2laqcjvjhl13hu9kbf6pjtendh6dgfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBk3-vj3GOYp377eStnxk_5zJEZwHMY2No</string>
	<key>GCM_SENDER_ID</key>
	<string>799045719295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salv</string>
	<key>PROJECT_ID</key>
	<string>salv-4c518</string>
	<key>STORAGE_BUCKET</key>
	<string>salv-4c518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799045719295:ios:4ceb8e1f7857f0d70de8ca</string>
	<key>DATABASE_URL</key>
	<string>https://salv-4c518-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>